<div class="row">
   <div class="large-12 columns">
      <h1>Listing genres</h1>
      <div class="panel">
	 <table>
	   <tr>
	     <th>Genre</th>
<<<<<<< HEAD
		 <th>Number of Books</th>
=======
>>>>>>> 8c5f521ce76322f87c0575370a6dec60d4094501
	     <th></th>
	     <th></th>
	     <th></th>
	   </tr>

	 <% @genres.each do |genre| %>
	   <tr>
	     <td><%= genre.title %></td>
<<<<<<< HEAD
		 <td><%= genre.books.count %></td>
=======
>>>>>>> 8c5f521ce76322f87c0575370a6dec60d4094501
	     <td><%= link_to 'Show', genre %></td>
	     <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
	     <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	   </tr>
	 <% end %>
	 </table>

	 <br />

	 <%= link_to 'New Genre', new_genre_path %>
      </div>
   </div>
</div>
