<div class='row'>
	<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
	
	<%= form_tag sessions_path do %>
		<fieldset>
			<div class="row">
				<div class="large-10 small-8 columns">
					<div class='form-inputs'>
						<%= text_field_tag :login, params[:login], :placeholder => "Login"%>
						<%= password_field_tag :password, params[:password], :placeholder => "Password" %>
					</div>
				</div>
				<div class='row'>
					<div id="display-label" class="large-1 small-1 columns">
						<%= submit_tag "Log in" %>
					</div>
				</div>
			</div>
		</fieldset>
	<% end %>