<<<<<<< HEAD
<div class='row'>
	<div class='12 columns'>
		<%= render "shared/smoke_break" %>
	</div>
</div>
<div class='row'>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Possessions</h4>
			<p>Possessions: <%= Possession.where(user_id: current_user).count %></p>
			<p>Categories: <%= Category.where(user_id: current_user).count %></p>
		</div>
	</div>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Books</h4>
			<p>Books: <%= Book.where(user_id: current_user).count %></p>
			<p>Genres: <%= Genre.where(user_id: current_user).count %></p>
			<p>Number Read: <%= Book.where(:user_id => current_user, :read => true).count %></p>
			<p>Number Unread: <%= Book.where(:user_id => current_user, :read => false).count %></p>
		</div>
	</div>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Groceries</h4>
			<p>Grocery List:</p>
			<ul>
				<% @groceries.each do |grocery| %>
					<li><%= grocery.item %></li>
				<% end%>
			</ul>

		</div>
	</div>
</div>
<div class='row'>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Smoke Breaks</h4>
			<p>Last five recorded:</p>
			<ul>
				<% @last_five_smoke_breaks.each do |smoke_break| %>
					<li><%= smoke_break.recorded_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %e - %I:%M%p") %></li>
				<% end%>
			</ul>
		</div>
	</div>
	
</div>
=======

	<div class="large-12 columns">
		<div class="panel">
			<h5>Smokes per day</h5>
			<div id="smoke-break-chart" style="width:100%; height:400px;"></div>
		</div>
	</div>


	<!-- Highchart Scripts -->
<script type="text/javascript" charset="utf-8">
	$(function () {
		new Highcharts.Chart({
			chart: { renderTo: 'smoke-break-chart' },
		    title: { text: 'Smokes per Day' },
		    xAxis: { type: 'datetime' },
		    yAxis: {
		      title: { text: 'Smokes'}
		    },
		    series: [{
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= 3.weeks.ago.at_midnight.to_i * 1000 %>,
				data: <%= (3.weeks.ago.to_date..Time.now.to_date).map { |date| SmokeBreak.total_on(date)}.inspect %>
				// data: [1, 2, 5, 7, 3]
		    }]
		});
	});
</script>


>>>>>>> 8c5f521ce76322f87c0575370a6dec60d4094501
