<div class='row'>
	<div class='12 columns'>
		<%= render "shared/smoke_break" %>
	</div>
</div>
<div class='row'>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Possessions</h4>
			<p>Possessions: <%= Possession.where(user_id: current_user).count %></p>
			<p>Categories: <%= Category.where(user_id: current_user).count %></p>
		</div>
	</div>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Books</h4>
			<p>Books: <%= Book.where(user_id: current_user).count %></p>
			<p>Genres: <%= Genre.where(user_id: current_user).count %></p>
			<p>Number Read: <%= Book.where(:user_id => current_user, :read => true).count %></p>
			<p>Number Unread: <%= Book.where(:user_id => current_user, :read => false).count %></p>
		</div>
	</div>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Groceries</h4>
			<p>Grocery List:</p>
			<p>none</p>
		</div>
	</div>
</div>
<div class='row'>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Smoke Breaks</h4>
			<p>Last five recorded:</p>
			<ul>
				<% @last_five_smoke_breaks.each do |smoke_break| %>
					<li><%= smoke_break.recorded_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %e - %I:%M%p") %></li>
				<% end%>
			</ul>
		</div>
	</div>
	
</div>
