<div class='row'>
  <%= simple_form_for @user do |f| %>
    <fieldset>
      <legend>User</legend>
      <div class'row'>
        <div class='large-6 small-3 columns'>
          <div class='form-inputs'>
            <%= f.input :username, placeholder: "Username", input_html: { class: "text" } %>
            <%= f.input :email, placeholder: "Email", input_html: { class: "text" } %>
            <%= f.input :api_key, placeholder: "API Key" %>
            <%= f.input :password, :placeholder => "Password" %>
            <%= f.input :password_confirmation, :placeholder => "Password Confirmation"  %>
            <div class='row'>
              <%= f.submit (@user.new_record? ? "Sign up" : "Update"), :class => "small"  %>
            </div>
    </fieldset>
  <% end %>
</div>
