<<<<<<< HEAD
<div class='12 columns'>
	<h1>Editing possession</h1>
	<%= render 'form' %>
	<div class='row'>
		<div class="large-11 columns">
			<%= link_to 'Show', @possession %> |
			<%= link_to 'Back', possessions_path %>
		</div>
	</div>
</div>
=======
<h1>Editing possession</h1>

<%= render 'form' %>

<%= link_to 'Show', @possession %> |
<%= link_to 'Back', possessions_path %>
>>>>>>> 8c5f521ce76322f87c0575370a6dec60d4094501
