<div class="row">
	<h1>Listing possessions</h1>
</div>

<div class="row">
	<div class="small-8 large-8 columns">
		<table>
		  <tr>
		    <th>Category</th>
		    <th>Title</th>
		    <th>User</th>
		    <th>Description</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @possessions.each do |possession| %>
		  <tr>
		    <td><%= possession.category_id %></td>
		    <td><%= possession.title %></td>
		    <td><%= possession.user_id %></td>
		    <td><%= possession.description %></td>
		    <td><%= link_to 'Show', possession %></td>
		    <td><%= link_to 'Edit', edit_possession_path(possession) %></td>
		    <td><%= link_to 'Destroy', possession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
<div class='row'>
	<div class="12 columns">
		<%= link_to 'New Possession', new_possession_path, :class => "button small" %>
	</div>
</div>
