<<<<<<< HEAD
<div class='row'>
	<div class="12 columns">
		<h2>Possession</h2>

		<p id="notice"><%= notice %></p>

		<p>
		  <b>Title:</b>
		  <%= @possession.title %>
		</p>

		<p>
		  <b>Category:</b>
			<%= link_to @possession.category.title, category_path(@possession.category) %>
		</p>

		<p>
		  <b>User:</b>
		  <%= @possession.user.username %>
		</p>

		<p>
			<b>Description:</b>
			<p><%= @possession.description %></p>
		</p>


		<%= link_to 'Edit', edit_possession_path(@possession) %> |
		<%= link_to 'Back', possessions_path %>
	</div>
</div>
=======
<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @possession.category_id %>
</p>

<p>
  <b>Title:</b>
  <%= @possession.title %>
</p>

<p>
  <b>User:</b>
  <%= @possession.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @possession.description %>
</p>


<%= link_to 'Edit', edit_possession_path(@possession) %> |
<%= link_to 'Back', possessions_path %>
>>>>>>> 8c5f521ce76322f87c0575370a6dec60d4094501
