<h1>Listing coffee_intakes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Recorded time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coffee_intakes.each do |coffee_intake| %>
  <tr>
    <td><%= coffee_intake.user_id %></td>
    <td><%= coffee_intake.recorded_time %></td>
    <td><%= link_to 'Show', coffee_intake %></td>
    <td><%= link_to 'Edit', edit_coffee_intake_path(coffee_intake) %></td>
    <td><%= link_to 'Destroy', coffee_intake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coffee intake', new_coffee_intake_path %>
