<h1>Listing drink_intakes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Recorded time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drink_intakes.each do |drink_intake| %>
  <tr>
    <td><%= drink_intake.user_id %></td>
    <td><%= drink_intake.recorded_time %></td>
    <td><%= link_to 'Show', drink_intake %></td>
    <td><%= link_to 'Edit', edit_drink_intake_path(drink_intake) %></td>
    <td><%= link_to 'Destroy', drink_intake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drink intake', new_drink_intake_path %>
